<a href="https://colab.research.google.com/github/MarcAnthonyNovilla/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for y in week:
 print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop Through String

In [2]:
for x in "week":
  print(x)

w
e
e
k

For Loop Using Break Statement

In [3]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to Display only Thursday

In [5]:
for x in week:
  if x == "Thursday":
   print(x)
   break

Thursday

range() function

In [7]:
for x in range(6):
 print(x)

0
1
2
3
4
5

In [8]:
for x in range (2,6+1,2):
  print(x)

2
4
6

Nested Loop

In [23]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [22]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [21]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [25]:
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3

Application 1

In [31]:
for x in range(11):
 print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [37]:
for i in range(3,11):
  print(i)

3
4
5
6
7
8
9
10